body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.container {
    text-align: center;
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.contra{
    text-align: center;
    margin-top: 10px;
}

.contra a{
    color: #040000;
    text-decoration: none;
}

.register-link a{
    text-decoration: none;
    color: #2b2fa1; 
    font-weight: 600; 

}
.register-link {
    text-align: center;
    margin-top: 20px;
}
.face{
    text-align: center;
}

.face a{
  color: #2b2fa1;  
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 600; 
}
 .descarga{
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
 }

 h1, p{
    font-size: 14px;
    text-align: center;
 }

 .line-container {
    display: flex;
    align-items: center;
}
.hr-line {
    flex-grow: 1;
    border-top: 0.8px solid black;
    margin: 0 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.zero {
    font-weight: bold;
    color: black;
}

a{
    text-decoration: none;
    color: #040000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.crear a{
    text-decoration: none;
    color: #040000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.inicio:hover{
    background-color: #949191;
}
.regi h1{
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.regi p{
    color: #a09e9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

button {
    color: white;
    background-color: #0074D9;
}
